/* .event-page-main {
	margin-top: 30px;
	padding: 0 35px;
} */

.event-menu-container {
	margin: 25px 0;
	padding-left: 15px;
	border-bottom: 1px solid #cacaca;
}

#events {
	width: 100%;
	list-style: none;
	margin: 2rem auto;
	padding: 1rem 0;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 2rem;
}

.event-attachment-container {
	padding: 10px 15px;
	border: 1px solid #dddbdb;
	border-radius: 5px;
}

.add-event-form-container {
	min-width: 600px;
	padding: 10px 15px;
}

.no-data-img {
	width: 240px;
	height: 240px;
}
