<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview Email</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            width: 90%;
            max-width: 600px;
            margin: auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            text-align: center;
        }
        .header {
            margin-bottom: 20px;
        }
        .header img {
            max-width: 100%;
            height: auto;
            border: none;
            border-radius: 8px;
        }
        .content {
            margin-bottom: 20px;
            font-size: 16px;
            text-align: left;
        }
        .closure {
            font-size: 16px;
            font-weight: bold;
            color: #555;
            margin-top: 20px;
            border-top: 1px solid #ddd;
            padding-top: 20px;
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="https://firebasestorage.googleapis.com/v0/b/hrsoftware-75457.appspot.com/o/loginlogo.png?alt=media" alt="Welcome Image" />
        </div>
        <div class="content">{{content}}</div>
        <div class="closure">
            {{closure}}
        </div>
    </div>
</body>
</html>
