/* .card-title {
    font-weight: lighter;
    margin: 0;
    color: white;
    font-size: 20px;
}

.flex-main{
    max-width: 100%;
}

 h1.ant-typography.card-text.css-dev-only-do-not-override-1pg9a38 {
    margin-bottom: 0;
    margin-top: 0;
    color: rgba(156, 6, 6, 0.521);
    
} 

.card-employee {
    height: 125px;
    width: 250px;

}

.pie-chart{
    background-color: white;
	width: 250px;
	height: 330px;
	border-radius: 10px;
}

.employee-card {
    margin-right: 10px;
}

@media (max-width: 1024px) {
    .employee-card {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .card-employee {
        height: 125px;
        width: 100%;
    }

    .flex-main {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1230px) {
    .employee-card {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .card-employee {
        height: 125px;
        width: 100%;
    }
}

.card-quote {
    height: auto;
    margin-bottom: 30px;
    box-shadow: 3.9px 7.8px 7.8px hsla(0, 0%, 69%, 0.407);
}

.card-employee {
    box-shadow: 3.9px 7.8px 7.8px hsla(0, 0%, 69%, 0.407);
    border: 0;
}

.holiday-card {
    display: flex;
    justify-content: space-between;
    color: white;
    text-align: center;
}

.promotion-list {
    list-style-type: "🔵";
}


p,
.card-text {
    margin-top: 10px
}

.card-promotions {
    margin-top: 20px;
}

.promo-title {
    margin-top: 0;
}

.promo-img {
    width: 168px;
    height: 168px;
}

.bonus-graph {
    width: 65%;
    justify-content: space-between;
    margin-left: 20px;
} 

.calendar-col {
    margin-bottom: 1rem;
} */